body {
  font-family: 'PT Sans', sans-serif;
  background-color: #79a4c4;
}

body * {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body a {
  text-decoration: none;
  color: black;
}

.absoluta {
  height: 12vh;
  position: absolute;
}

.inicio {
  width: 100vw;
  height: 100vh;
}

.inicio__resolucionEmpresa h1 {
  text-align: center;
  border: 3px;
  padding: 1px;
}

.inicio__resolucionEmpresa h1__indexProblemas {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.inicio__queSucede {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.inicio__queSucede h2 {
  text-align: center;
  border: 3px;
  padding: 1px;
  width: 100vw;
  height: 10vh;
  font-size: bold;
}

.inicio__queSucede__textoIndex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

.inicio__queSucede__textoIndex img {
  width: 30vw;
  height: 35vh;
}

.inicio__imagesIndex {
  width: 20vw;
  height: 30vh;
  padding: 3px;
}

.inicio__resolucionEmpresa h1 {
  text-align: center;
  font-weight: bold;
}

.inicio__resolucionEmpresa__indexProblemas {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100vw;
  height: 30vh;
}

.inicio__resolucionEmpresa__indexProblemas img {
  width: 50vw;
  height: 30vh;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.razones {
  background-color: #AEDFFF;
  width: 100vw;
  height: 26vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
}

.razones__tituloRazones h3 {
  color: #0B5F9C;
  opacity: 0.3;
}

.razones__tituloRazones h2 {
  font-weight: bold;
}

.razones__elegirnos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 100vw;
  height: 26vh;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.razones__elegirnos__razon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 20vw;
  height: 10vh;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.razones__elegirnos__razon h6 {
  font-weight: bold;
}

.experiencia {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 100vw;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  margin: 2% 0 2% 0;
}

.experiencia__info {
  width: 20vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.experiencia__info img {
  border-radius: 50%;
  width: 10vw;
  height: 19vh;
  -webkit-box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.5);
          box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.5);
}

.experiencia__info__cantidad h4 {
  font-weight: bold;
  color: #0B5F9C;
}

.experiencia__info__cantidad p {
  font-weight: bold;
}

.historia {
  width: 100vw;
  height: 130vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.historia__personal {
  width: 100vw;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.historia__personal__cartas {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100vw;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.historia__personal__cartas__card {
  background-color: antiquewhite;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 15vw;
  height: 40vh;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  border-radius: 25px;
  -webkit-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.4);
          box-shadow: 0 2px 2px rgba(0, 0, 0, 0.4);
  overflow: hidden;
  -webkit-transition: all 0.25s;
  transition: all 0.25s;
}

.historia__personal__cartas__card__contenido {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 30vw;
  height: 20vh;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 10px;
}

.historia__personal__cartas__card__contenido img {
  width: 5vw;
  height: 15vh;
  border-radius: 50%;
}

.historia__personal__cartas__card__contenido h5 {
  text-align: center;
}

.historia__personal__cartas__card__contenido h3 {
  text-align: center;
}

.historia__personal__cartas__card__contenido__descripcion {
  border-top: 2px solid #a6a6a6;
  border-bottom: 2px solid #a6a6a6;
  width: 13vw;
  text-align: center;
}

.historia__personal__cartas__card:hover {
  -webkit-transform: translateY(-15px);
          transform: translateY(-15px);
  -webkit-box-shadow: 0 12px 16px rgba(0, 0, 0, 0.2);
          box-shadow: 0 12px 16px rgba(0, 0, 0, 0.2);
}

/*------------- SERVICIOS ------------*/
.tituloServicios h1 {
  text-align: center;
  font-weight: bold;
}

.diferentesServicios {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100vw;
  height: 100vh;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  border-radius: 20px;
  -webkit-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.4);
          box-shadow: 0 2px 2px rgba(0, 0, 0, 0.4);
  overflow: hidden;
  -webkit-transition: all 0.25s;
  transition: all 0.25s;
}

.diferentesServicios__servicioUno {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  width: 25vw;
  height: 60vh;
  background-color: #45667e88;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  overflow: hidden;
  -webkit-transition: all 0.25s;
  transition: all 0.25s;
}

.diferentesServicios__servicioUno img {
  height: 30vh;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  width: 25vw;
}

.diferentesServicios__servicioUno:hover {
  -webkit-transform: translateY(-15px);
          transform: translateY(-15px);
  -webkit-box-shadow: 0 12px 16px rgba(0, 0, 0, 0.2);
          box-shadow: 0 12px 16px rgba(0, 0, 0, 0.2);
}

/*-------------- FOOTER ---------------*/
.footer-contenido {
  background-color: #0B5F9C;
  text-align: center;
  height: auto;
  width: 100vw;
  height: 15vh;
}

.footer-contenido__socials {
  width: 100vw;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 1% 0 1% 0;
}

.footer-contenido__socials li {
  width: 5vw;
}

.footer-contenido__socials li a i {
  -webkit-transition: color .4s ease;
  transition: color .4s ease;
}

.footer-contenido__socials li a:hover {
  color: white;
}

.caja {
  width: 100vw;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.caja__centro {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 30vh;
  width: 20vw;
  background-color: white;
  border-radius: 10px;
  -webkit-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.4);
          box-shadow: 0 2px 2px rgba(0, 0, 0, 0.4);
  overflow: hidden;
}

.caja__centro input {
  border: none;
  font-size: 16px;
  background: none;
  outline: none;
}

.caja__centro__login {
  width: 20vw;
  height: 5vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-bottom: 2px solid silver;
  text-align: center;
}

.caja__centro__login h1 {
  font-weight: bold;
}

.caja__centro__formulario {
  width: 20vw;
  height: 18vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.caja__centro__formulario__relleno {
  border-bottom: 2px solid silver;
}

.caja__centro__formulario__relleno input {
  -webkit-transition: all 2s;
  transition: all 2s;
}

.caja__centro__formulario__relleno input:valid {
  top: -5px;
}

.caja__centro__formulario__subir_login {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 10vw;
  height: 3vh;
  background: #2691d9;
  border-radius: 25px;
  -webkit-box-shadow: 0 1px 1px 0;
          box-shadow: 0 1px 1px 0;
}

.logo {
  width: 10vw;
  height: 6vh;
}

* {
  margin: 0;
  padding: 0;
}
/*# sourceMappingURL=style.css.map */